*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: black;
    color: antiquewhite;

}  
main{
    
    text-align: center;
}
.fq{
    margin: 2px 25%;
    text-align: left;
    padding: 10px;
}
.question{
    border: 1px solid #b3aaaa;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding-left:9px ;
    border-radius: 7px;
}
.question h2{
    margin-bottom: 10px;
}
